<div class="jumbotron">
  <div class="container">
    <div class="title">
      <h1>一条狗的使命</h1>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/products">跟虎子去看看！</a></p>
    </div>
  </div>
</div>

<div id="content-section-1">
  <div class="container">
    <div class="col-md-12">
      <div class="group">
        <h2>你准备好了吗？</h2>
        <div class="short-line"></div>
        <p>那人，那书，那狗，七年就是一辈子，活不明白看看书，看看狗！
        <br>
        我们希望藉由这个网站，能让大家进入狗的世界，看看我们所处的世界，了解我们的人生。
        <br>
         拿着一本书，找个安静的地方，看进去，走出来。
        </p>
        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-24-093005.jpg" alt="search" class="img-thumbnail">
      </div>
    </div>

    <div class="col-md-12">
      <div class="group">
        <h2>宠物是如何改变我们的世界的？</h2>
        <div class="short-line"></div>
      </div>
      <div class="col-xs-4">
        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-28-dog%20-2-.png" alt="search" class = "img-thumbnail">
        <br>
        <h3>我们之间会得怎样的病？</h3>
        <p>在我们的一步步引导下，你会逐渐领悟到，并不是你去教会宝宝如何去感受世界，而是宝宝来教会你，该如何交流情感，如何去表达爱。</p>
      </div>
      <div class="col-xs-4">
        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-28-dog%20-1-.png" alt="search" class = "img-thumbnail">
        <br>
        <h3>我们喜欢的是它们想要的吗？</h3>
        <p>在这里我们不是老师，我们是服装设计师，为宝宝设计前卫服装，让宝宝成长在艺术的氛围之中，我们是探险家，用心去探寻宝宝的美丽心灵，让宝宝美的不可方物。</p>
      </div>
      <div class="col-xs-4">
        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-28-dog.png" alt="search" class = "img-thumbnail">
        <br>
        <h3>它们的恐惧是我们能理解的吗？</h3>
        <p>伴宝宝成长不仅有助于我们理解思维如何运作，也帮助我们理解人类处境和爱之本质，十年的时间，进行一次关乎“我如何成为我”的心灵洗礼。</p>
      </div>
    </div>

    <div class="col-md-12">
      <div class="group">
        <h2>听听他们怎么说</h2>
        <div class="short-line"></div>
      </div>
      <div class="col-xs-6">
        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-29-v2-f8f1be6eb5602d845e209095bb08f9d5_xl.jpg" alt="search" class = "img-thumbnail">
        <br>
        <h4>如茜</h4>
        <br>
        <p>宠物医生 从业十年从心开始！最大的缺点是喜欢说实话。</p>
        <br>
        我是如茜，兽医硕士研究生，从业 10 年，从行业从业者到管理者的身份转化，使我更深刻地认识这个行业的方方面面。
        从宠物医疗技术到实践经验，动物药品及动物保健品，宠物维权，宠物行业经营管理，相关政策法律法规等都有独到和专业的见解。

        <p>知乎主页：<a href="https://www.zhihu.com/people/gouzaidui/answers" target="_blank">https://www.zhihu.com/people/gouzaidui/answers</a></p>
      </div>
      <div class="col-xs-6">
        <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-29-27e672eba458ad6619db69157f56ebf9_xl.jpg" alt="search" class = "img-thumbnail">
        <br>
        <h4>首席遛狗官</h4>
        <br>
        <p>这很难，但值得我们全力以赴。</p>
        <br>
        我是李宗尧，训犬师、宠物营养师，在过去的8年中，
        死磕与宠物有关的各个门类的知识，力求融会贯通。
        我创办的狗仔队宠物学堂成立至今，服务了超过1000个宠物家庭，帮他们解决狗狗的行为问题、训练狗狗的小技能。

        <p>知乎主页：<a href="https://www.zhihu.com/people/5814ec377737eb9c1a396e6488d6738e" target="_blank">https://www.zhihu.com/people/5814ec377737eb9c1a396e6488d6738e</a></p>
      </div>
    </div>
  </div>
</div>
