<div class="jumbotron">
  <div style="margin-left: 45px;">
    <h1 class="title">一条狗的使命</h1>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/products">跟虎子去看看！</a></p>
  </div>
</div>

<div class="container">
  <p class="tirle">那人，那书，那狗，七年就是一辈子，活不明白看看书，看看狗！
  <br>
  我们希望藉由这个网站，能让大家进入狗的世界，看看我们所处的世界，了解我们的人生。
  <br>
   拿着一本书，找个安静的地方，看进去，走出来。
  </p>
</div>

<section id="company">
  <div class = "container">
    <div class="row">
      <div class="col-xs-3 homepage-collections-item margin-bottom">
        <div class="thumbnail">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-23-025305.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h5>书籍</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-3 homepage-collections-item margin-bottom">
        <div class="thumbnail">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-06-dog-1282866_1920.jpg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h5>电影</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-3 homepage-collections-item margin-bottom">
        <div class="thumbnail">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-06-061437.jpg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h5>摄影</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-3 homepage-collections-item margin-bottom">
        <div class="thumbnail">
          <img src="http://ojjhaj1wp.bkt.clouddn.com/2017-05-23-SECRET_LIFE_OF_DOGS_11.jpg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h5>绘画</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
