// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
    text-align: center;
    min-height: 120px;
    background-color: #4abc96;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    margin: 50px -15px 0px;

}
