// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
    text-align: center;
    min-height: 120px;
    background-color: #4abc96;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    margin: 50px -15px 0px;

}
.jumbotron-2 {
  // background-image:url('http://ojjhaj1wp.bkt.clouddn.com/2017-05-25-pets-1582196_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}
