// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//按钮颜色
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.page-wrap {
  margin: 0px;
}

//首页头图
.jumbotron {
  background-image:url('http://ojjhaj1wp.bkt.clouddn.com/2017-05-25-pets-1582196_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}

.jumbotron h1, .jumbotron .h1 {
     text-align: left;//文字左对齐
     color: #f9f9f9;  //字体颜色
text-align: center;
     padding: 50px 20px 0;//上50px，左右20px，下0
}

.jumbotron p {
     margin: 0;//上下左右margin为0
     font-size: 26px;//字体大小
     max-width: 500px;//最大宽度
     background-color: rgba(0, 0, 0, 0.0001);//背景颜色含透明度
     padding: 20px;//上下左右padding为20px
     text-align: right;//文字左对齐
     color: #222;//字体颜色

     border-bottom-right-radius: 3px;//右下角圆边
     border-bottom-left-radius: 3px;//左下角圆边
}
.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}
//按钮
.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}
//让头图满屏显示
.container-fluid
.jumbotron{
   padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
   margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
   border-radius: 0;//圆角为0
}
//修改文字对齐、背景
.title {
  background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  max-width: 200px;//最大宽度
  margin-top: 200px;//和顶部拉开距离
  margin-bottom: 0;//这样就可以紧接息面的描述文字
  border-top-right-radius: 3px;//右上角圆边
  border-top-left-radius: 3px;//左上角圆边
}
//头图下方的信息
.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}
.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}
.group {
    text-align: center;
}
//首页中的插图
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.short-line {
    display: block;
    background: #f96146;
    border-style: none;
    border-radius: 0;
    margin: 20px auto 20px auto;
    z-index: 53;
    width: 200px;
    height: 2px;
    position: relative;
}
.feature-block {
    display: block;
    width: 290px;
    position: relative;
    margin: 20px 15px 0;
    float: left;
}
.content-section {
  position: relative;
    width: auto;
    margin: 30px 0 0 0;
    padding: 0;
    display: block;
    margin-top: 60px;
}
.row-1 {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}
